@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;900&family=Rubik:wght@300;400;700;900&display=swap');

:root {
  font-size: 16px;

  --slab: 'Roboto Slab', serif;
  --sans: 'Rubik', sans-serif;

  --black: #000000ff;
  --charcoal: #2f4550ff;
  --darkblue: #586f7cff;
  --lightblue: #bfd7eaff;
  --white: #f4f4f9ff;
}

html {
  font-family: var(--sans);
  background-color: var(--white);
  color: var(--black);
}